.navbar {
  background: linear-gradient(to right, #2563eb, #4f46e5);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  margin: 0 auto;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.logo-img {
    width: 25px;
    height: 25px;
}

.nav-links {
  display: flex;
  gap: 48px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: yellow;
}
